language: python

cache: pip

python:
- '3.5'
- '3.6'
- '3.6-dev'
- 'nightly'  # currently 3.7

matrix:
  allow_failures:
  - python: '3.6-dev'
  - python: 'nightly'

install:
- make install

script:
- make lint
- make test
- grablib -V
- make check_tag_version

after_success:
- ls -lha
- bash <(curl -s https://codecov.io/bash)

deploy:
  provider: pypi
  user: samuelcolvin
  password:
    secure: fQxocPaZXfJK99gcGI8YotVKptNFQ2qGn+Lt/Sgiwx5AASTGa8hWLzH0tD5vFWi8+gWj2Iyiynvzu4iLpx2+dOoR42X3XWQiVpIBjbqe9c/LtxI9ETxOM82yDCvo94u60ND2a+7kDzEoZxqx9oq68ekvF/NwaV3CtuVMpZE6KmY=
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: 3.5
